@import 'components/button/button';

.dropdown {
  $root: &;

  position: relative;
  user-select: none;

  &__input {
    box-sizing: border-box;
    padding: 0.6429rem 2.8571rem 0.6429rem 1.0714rem;
    width: 100%;
    outline: none;
    border: 0.0714rem solid $primary-color-25;
    border-radius: 0.2857rem;
    color: $primary-color-75;
    font: inherit;
  }

  &__tick {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0;
    width: 3.1429rem;
    height: 100%;
    border: 0;
    background-color: transparent;
    content: '';

    &:hover {
      cursor: pointer;
    }

    &::before {
      box-sizing: border-box;
      width: 0.6429rem;
      height: 0.6429rem;
      border-top: 0.1429rem solid $primary-color-50;
      border-right: 0.1429rem solid $primary-color-50;
      content: '';
      transform: translateY(-0.0714rem) rotate(135deg);
    }
  }

  &__container {
    position: absolute;
    display: none;
    box-sizing: border-box;
    padding: 0.4714rem 0.3571rem 0.6rem 1rem;
    width: 100%;
    border: 0.0714rem solid $primary-color-50;
    border-top: 0;
    border-radius: 0 0 0.2857rem 0.2857rem;
    background-color: $white-color-100;
    box-shadow: 0 0.7143rem 1.4286rem $primary-color-5;
  }

  &__group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;

    &:nth-child(4) {
      margin: 1.5714rem 0 0.7143rem;
      margin-bottom: 0.7143rem;
    }
  }

  &__title {
    @include h3-type;
  }

  &__counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__counter-button {
    box-sizing: border-box;
    padding: 0;
    width: 2.1429rem;
    border: 0.0714rem solid $primary-color-50;
    border-radius: 50%;
    background: transparent;
    color: $primary-color-50;
    font-size: 1.4286rem;
    line-height: 2.0429rem;
    cursor: pointer;

    &:disabled {
      opacity: 0.4;
      cursor: default;
    }
  }

  &__counter-value {
    margin: 0 0.4286rem;
    min-width: 1.4714rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8571rem;
    line-height: 1.0714rem;
  }

  &__buttons {
    display: flex;
    margin-top: 1.1429rem;
  }

  &__button:nth-child(2) {
    margin-left: auto;
  }

  &_expanded {
    #{$root}__input {
      border-color: $primary-color-50;
      border-radius: 0.2857rem 0.2857rem 0 0;
    }

    #{$root}__container {
      display: block;
    }
  }
}
