include ~@components/button/button

mixin dropdown({ state, type, id, name, value, placeholder, items = [] } = {})
  - const stateClass = state ? `dropdown_${state}` : "";
  - const typeClass = type ? `dropdown_type_${type} js-dropdown_type_${type}` : "";
    
  .dropdown.js-dropdown(class = [stateClass, typeClass])
    input.dropdown__input.js-dropdown__input(type="text" id = id name = name value = value placeholder = placeholder readonly tabIndex="-1")&attributes(attributes)
    button.dropdown__tick.js-dropdown__tick(type="button")
    if type === 'guests' || type === 'comfort'
      .dropdown__container
        each item in items
          .dropdown__group.js-dropdown__group
            .dropdown__title= item
            .dropdown__counter
              button.dropdown__counter-button.dropdown__counter-button_disabled.dropdown__counter-button_type_decrease.js-dropdown__counter-button_type_decrease(type="button" disabled) -
              span.dropdown__counter-value.js-dropdown__counter-value 0
              button.dropdown__counter-button.dropdown__counter-button_type_increase.js-dropdown__counter-button_type_increase(type="button") +
        if type === 'guests'
          .dropdown__buttons
            .dropdown__button
              +button({ theme: 'default', typeModifier: 'clear', isHidden: true, text: 'Очистить' })
            .dropdown__button
              +button({ theme: 'default', typeModifier: 'apply', text: 'Применить' })
