include ~@components/date-picker/date-picker
include ~@components/dropdown/dropdown
include ~@components/button/button

mixin room-search({ title = "Найдём номера под ваши пожелания" } = {})
  article.room-search
    h2.room-search__title= title
    form.room-search__form(action="https://echo.htmlacademy.ru" method="post")
      .room-search__date-picker
        +date-picker
      .room-search__dropdown
        label.room-search__label(for="field-guests") Гости
        +dropdown({ type: "guests", id: "field-guests", items: ["Взрослые", "Дети", "Младенцы"], name: "guests", placeholder: "Сколько гостей" })
      +button({ theme: "with-arrow", isFullWidth: true, text: "подобрать номер", type: 'submit' })
