@import 'components/date-picker/date-picker';
@import 'components/dropdown/dropdown';
@import 'components/button/button';

.room-search {
  $root: &;

  box-sizing: border-box;
  padding: 2.7857rem 2.0714rem 2.0714rem;
  border: 0.0714rem solid $black-color-12;
  border-radius: 0.2857rem;
  background: $white-color-100;
  box-shadow: 0 0 1.7857rem $black-color-20;

  &__title {
    @include h1-type;

    margin: 0 0 1.1714rem;
  }

  &__label {
    @include h3-type;
  }

  &__date-picker {
    position: relative;
    z-index: 2;
    margin-bottom: 1.1rem;
  }

  &__dropdown {
    position: relative;
    z-index: 1;
    margin-bottom: 2.2714rem;
  }
}
