@import 'components/text-input/text-input';
@import 'components/button/button';

.sign-in {
  padding: 2.8571rem 2.1429rem 2.2857rem;
  border: 0.0714rem solid $black-color-12;
  border-radius: 0.2857rem;
  background-color: $white-color-100;
  box-shadow: 0 0 1.7857rem $black-color-20;

  &__title {
    @include h1-type;

    margin: 0 0 1.4286rem;
  }

  &__label {
    @include visually-hidden;
  }

  &__email {
    margin-bottom: 0.7143rem;
  }

  &__password {
    margin-bottom: 1.3571rem;
  }

  &__submit-button {
    margin-bottom: 2.0286rem;
  }

  &__registration {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    max-width: 15.1429rem;
    margin-right: 0.7143rem;
    color: $black-color-100;
    line-height: 1.2857rem;
  }
}
