include ~@components/text-input/text-input
include ~@components/button/button
include ~@components/button/button

mixin sign-in({ title = "Войти" } = {})
  form.sign-in(action="https://echo.htmlacademy.ru" method="post")
    h2.sign-in__title= title
    .sign-in__email
      label.sign-in__label(for="field-email") Введите email
      +text-input({ id: "field-email", type: "email", name: "email", placeholder: "Email" })
    .sign-in__password
      label.sign-in__label(for="field-password") Введите пароль
      +text-input({ id: "field-password", type: "password", name: "password", placeholder: "Пароль" })
    .sign-in__submit-button
      +button({ text: "войти", theme: "with-arrow", isFullWidth: true, type: "submit" })
    .sign-in__registration
      .sign-in__text Нет аккаунта на Toxin?
      .sign-in__sign-in-button
        +button({ text: "создать", theme: "border-gradient", isLink: true })
