@import 'components/checkbox-input/checkbox-input';

.checkbox-expandable {
  $root: &;

  margin: 0;
  padding: 0;
  border: 0;

  &__title {
    @include h3-type;

    position: relative;
    width: 100%;
    margin-bottom: 1.5429rem;

    &:hover {
      cursor: pointer;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      width: 0.4286rem;
      height: 0.4286rem;
      margin-left: 2.1143rem;
      border-right: 0.1429rem solid $primary-color-50;
      border-bottom: 0.1429rem solid $primary-color-50;
      transform: translateY(-50%) rotate(45deg);
    }
  }

  &__checkboxes {
    display: none;
  }

  &__checkbox-input + &__checkbox-input {
    margin-top: 0.9286rem;
  }

  &_expanded {
    #{$root}__title::after {
      transform: rotate(-135deg);
    }

    #{$root}__checkboxes {
      display: block;
    }
  }
}
