include ../checkbox-input/checkbox-input

mixin checkbox-expandable({ title, state, checkboxes = [] } = {})
  - const className = state ? `checkbox-expandable_${state}` : "";

  fieldset.checkbox-expandable.js-checkbox-expandable(class = className)
    legend.checkbox-expandable__title.js-checkbox-expandable__title= title

    each checkbox in checkboxes
      .checkbox-expandable__checkbox-input
        +checkbox-input(checkbox)
