.button {
  $root: &;

  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding: 0;
  font: inherit;
  font-weight: bold;
  font-size: 0.8571rem;
  line-height: 1.0714rem;
  border: 0;
  background: none;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  word-break: break-all;

  &_theme_default {
    color: $purple-color-100;

    &:hover {
      color: $primary-color-50;
    }
  }

  &_theme_border-gradient {
    padding: 0.9286rem 1.2857rem;
    border: 0.1429rem solid transparent;
    color: $purple-color-100;
    border-radius: 1.5714rem;
    background: linear-gradient($white-color-100, $white-color-100) padding-box,
      linear-gradient($purple-color-100, $aqua-color-light-100) border-box;

    &:hover {
      background: linear-gradient($white-color-100, $white-color-100) padding-box,
        linear-gradient($purple-color-50, $aqua-color-light-50) border-box;
    }
  }

  &_theme_gradient {
    padding: 1.0714rem 1.4286rem;
    color: $white-color-100;
    border-radius: 1.5714rem;
    background-image: linear-gradient($purple-color-100, $aqua-color-light-100);

    &:hover {
      opacity: 0.5;
    }
  }

  &_theme_with-arrow {
    position: relative;
    padding: 1.0714rem 2.5rem;
    color: $white-color-100;
    border-radius: 1.5714rem;
    background-image: linear-gradient($purple-color-100, $aqua-color-light-100);

    &::before {
      @include arrow-angle;

      top: 50%;
      right: 0.9286rem;
      transform: translateY(-50%) rotate(45deg);
    }

    &::after {
      @include arrow-line;

      top: 50%;
      right: 0.8571rem;
      transform: translateY(-50%);
    }
  }

  &_size_small#{$root}_theme_border-gradient {
    padding-top: 0.5714rem;
    padding-bottom: 0.5714rem;
  }

  &_size_small#{$root}_theme_gradient {
    padding-top: 0.7143rem;
    padding-bottom: 0.7143rem;
  }
}
