.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  background: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  word-break: break-all;
  font: inherit;
  font-weight: bold;
  font-size: 0.8571rem;
  line-height: 1.0714rem;
  cursor: pointer;

  &_full-width {
    width: 100%;
  }

  &_hidden {
    display: none;
  }

  &_theme_default {
    color: $purple-color-100;

    &:hover {
      color: $primary-color-50;
    }
  }

  &_theme_border-gradient {
    padding: 0.9286rem 1.2857rem;
    border: 0.1429rem solid transparent;
    border-radius: 1.5714rem;
    background:
      linear-gradient($white-color-100, $white-color-100) padding-box,
      linear-gradient($purple-color-100, $aqua-color-light-100) border-box;
    color: $purple-color-100;

    &:hover {
      background:
        linear-gradient($white-color-100, $white-color-100) padding-box,
        linear-gradient($purple-color-50, $aqua-color-light-50) border-box;
    }
  }

  &_theme_border-gradient#{&}_size_small {
    padding-top: 0.5714rem;
    padding-bottom: 0.5714rem;
  }

  &_theme_gradient {
    padding: 1.0714rem 1.4286rem;
    border-radius: 1.5714rem;
    background-image: linear-gradient($purple-color-100, $aqua-color-light-100);
    color: $white-color-100;

    &:hover {
      opacity: 0.5;
    }
  }

  &_theme_gradient#{&}_size_small {
    padding-top: 0.7143rem;
    padding-bottom: 0.7143rem;
  }

  &_theme_with-arrow {
    position: relative;
    padding: 1.0714rem 2.5rem;
    border-radius: 1.5714rem;
    background-image: linear-gradient($purple-color-100, $aqua-color-light-100);
    color: $white-color-100;

    &::before {
      position: absolute;
      top: 50%;
      right: 0.8571rem;
      width: 1.1429rem;
      height: 0.1429rem;
      background-color: $white-color-100;
      content: '';
      transform: translateY(-50%);
    }

    &::after {
      position: absolute;
      top: 50%;
      right: 0.9286rem;
      width: 0.6429rem;
      height: 0.6429rem;
      border-top: 0.1429rem solid $white-color-100;
      border-right: 0.1429rem solid $white-color-100;
      content: '';
      transform: translateY(-50%) rotate(45deg);
    }
  }
}
