.button {
  $root: &;

  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding: 0;
  color: $purple-color-100;
  font: inherit;
  font-weight: bold;
  font-size: 0.8571rem;
  line-height: 1.0714rem;
  border: 0;
  background: none;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $primary-color-50;
  }

  &_theme_border-gradient {
    padding: 0.8571rem 1.4286rem;
    border: 0.1429rem solid transparent;
    border-radius: 1.5714rem;
    background: linear-gradient($white-color-100, $white-color-100) padding-box,
      linear-gradient($purple-color-100 0%, $aqua-color-light-100 100%) border-box;

    &:hover {
      color: $purple-color-100;
      background: linear-gradient($white-color-100, $white-color-100) padding-box,
        linear-gradient($purple-color-50 0%, $aqua-color-light-50 100%) border-box;
    }
  }

  &_theme_registration {
    padding: 0.8571rem 1.4286rem;
    color: $white-color-100;
    border-radius: 1.5714rem;
    background-image: linear-gradient($purple-color-100 0%, $aqua-color-light-100 100%);

    &:hover {
      color: $white-color-100;
      background-image: linear-gradient($purple-color-50 0%, $aqua-color-light-50 100%);
    }
  }

  &_theme_submit {
    position: relative;
    padding: 1.0714rem 2.5rem;
    color: $white-color-100;
    border-radius: 1.5714rem;
    background-image: linear-gradient(180deg, $purple-color-100 0%, $aqua-color-light-100 100%);

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      right: 0.9286rem;
      width: 1.1429rem;
      height: 0.1429rem;
      background-color: $white-color-100;
      transform: translateY(-50%);
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 1.0714rem;
      width: 0.6429rem;
      height: 0.6429rem;
      border: 0.1429rem solid $white-color-100;
      border-left: none;
      border-bottom: none;
      transform: translateY(-50%) rotate(45deg);
    }
  }

  &_size_small#{$root}_theme_border-gradient {
    padding: 0.5714rem 1.2857rem;
  }

  &_size_small#{$root}_theme_registration {
    padding: 0.7143rem 1.4286rem;
  }
}
