mixin button({ text, theme, size, isLink, type = "button", href = "/mock-address" } = {})
  - const buttonTheme = theme ? `button_theme_${theme}` : "";
  - const buttonSize = size ? `button_size_${size}` : "";
  - const tagName = isLink ? "a" : "button";

  #{tagName}.button(
    class= [buttonTheme, buttonSize]
    type = tagName === "button" ? type : false
    href= tagName === "a" ? href : false)&attributes(attributes)
    = text
