@import 'shared/styles/base';
@import 'components/header/header';
@import 'components/room-search/room-search';
@import 'components/footer/footer';

.main-page {
  position: relative;
  padding: 5rem 9.7% 27.4714rem;
  background: url('~@root/images/living-room-example.jpg') no-repeat center/cover;

  @media screen and (max-width: 1000px) {
    padding: 2.1429rem 0.7143rem;
  }

  &__title {
    @include visually-hidden;
  }

  &__info {
    position: absolute;
    right: 9.7%;
    bottom: 1.5rem;
    width: 21.4286rem;
    text-align: right;

    @media screen and (max-width: 1300px) {
      right: 0.7143rem;
    }

    @media screen and (max-width: 1000px) {
      display: none;
    }
  }

  &__form {
    width: 27.1429rem;

    @media screen and (max-width: 1000px) {
      margin: 0 auto;
    }

    @media screen and (max-width: 420px) {
      width: 100%;
    }
  }
}
