.button-like {
  $root: &;

  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  min-width: 40px;
  padding: 3px 5px;
  font: inherit;
  font-size: 0.7143rem;
  line-height: 0.8571rem;
  color: $primary-color-25;
  border: 1px solid $primary-color-25;
  border-radius: 1.5714rem;
  background: none;
  text-align: left;
  cursor: pointer;

  &__icon {
    margin-right: 8px;
    vertical-align: middle;
  }

  &_theme_liked {
    color: $purple-color-100;
    border-color: transparent;
    background: linear-gradient($white-color-100, $white-color-100) padding-box,
      linear-gradient($purple-color-100, $aqua-color-light-100) border-box;

    #{$root}__icon {
      path {
        fill: $purple-color-100;
        stroke-opacity: 1;
      }
    }
  }
}
