.button-like {
  $root: &;

  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  min-width: 2.8571rem;
  padding: 0.2143rem 0.3571rem;
  border: 0.0714rem solid $primary-color-25;
  border-radius: 1.5714rem;
  color: $primary-color-25;
  font: inherit;
  font-size: 0.7143rem;
  line-height: 0.8571rem;
  text-align: left;
  background: none;
  cursor: pointer;

  &__icon {
    vertical-align: middle;
    margin-right: 0.5714rem;
  }

  &_theme_liked {
    border-color: transparent;
    color: $purple-color-100;
    background:
      linear-gradient($white-color-100, $white-color-100) padding-box,
      linear-gradient($purple-color-100, $aqua-color-light-100) border-box;

    #{$root}__icon {
      path {
        fill: $purple-color-100;
        stroke-opacity: 1;
      }
    }
  }
}
