@import '../sign-up/sign-up';

.registration-page {
  flex-grow: 1;
  padding: 2.1429rem 0 1.8571rem;
  background: url('../../images/background-2.jpg') no-repeat center / cover;

  &__container {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 0.7143rem;
    max-width: 84.2857rem;
  }

  &__title {
    &_hidden {
      position: absolute;
      overflow: hidden;
      clip: rect(0 0 0 0);
      margin: -0.0714rem;
      padding: 0;
      width: 0.0714rem;
      height: 0.0714rem;
      border: 0;
      clip-path: inset(100%);
    }
  }

  &__form {
    margin: 0 auto;
    width: 27.1429rem;

    @media screen and (max-width: 400px) {
      width: 100%;
    }
  }
}
