.radio-input {
  $root: &;

  &__label {
    position: relative;
    padding-left: 2rem;
    color: $primary-color-50;

    &:hover {
      cursor: pointer;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      box-sizing: border-box;
      width: 1.4286rem;
      height: 1.4286rem;
      border: 0.0714rem solid $purple-color-100;
      border-radius: 50%;
      content: '';
    }
  }

  &__field {
    @include visually-hidden;

    &:checked + #{$root}__label {
      color: $primary-color-75;
    }

    &:checked + #{$root}__label::after {
      position: absolute;
      top: 0.7rem;
      left: 0.7214rem;
      box-sizing: border-box;
      width: 0.8571rem;
      height: 0.8571rem;
      border-radius: 50%;
      background: linear-gradient($purple-color-100, $aqua-color-light-100);
      content: '';
      transform: translate(-50%, -50%);
    }

    &:focus + #{$root}__label::before {
      outline: 0.3571rem auto $outline-color-100;
    }
  }
}
