@import 'components/range-slider/range-slider';
@import 'components/dropdown/dropdown';
@import 'components/checkbox-expandable/checkbox-expandable';
@import 'components/room/room';
@import 'components/pagination/pagination';

.rooms-page {
  $root: &;

  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 2.1429rem 9.7% 5rem;

  &__title {
    @include visually-hidden;
  }

  &__subtitle {
    margin-bottom: 1.4286rem;
    color: $primary-color-100;
    letter-spacing: -0.0357rem;
    font-weight: bold;
    font-size: 1.7143rem;
    line-height: 2.1429rem;

    &_hidden {
      @include visually-hidden;
    }
  }

  &__filter {
    width: 19rem;

    @media screen and (max-width: 1159px) {
      margin-right: 0;
      width: 100%;
    }
  }

  &__form {
    margin-top: -0.3571rem;

    @media screen and (max-width: 1159px) {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 110%;
      z-index: 1;
      overflow: scroll;
      padding: 0.7143rem;
      background: $white-color-100;
      transition: left ease 1s;
    }

    &_showed {
      left: 0;
    }
  }

  &__filter-show-button {
    display: none;
    box-sizing: border-box;
    margin-bottom: 1.4286rem;
    padding: 0.7143rem 1.4286rem;
    width: 100%;
    border: 0;
    background: linear-gradient(180deg, $purple-color-100 0%, $aqua-color-light-100 100%);
    color: $white-color-100;
    text-align: center;
    font-weight: bold;
    font-size: 1.1429rem;
    cursor: pointer;
    -webkit-appearance: none;

    @media screen and (max-width: 1159px) {
      display: inline-block;
    }
  }

  &__filter-close-button {
    position: fixed;
    top: 0;
    z-index: 9;
    display: inline-block;
    width: 2.8571rem;
    height: 2.8571rem;
    border: 0;
    border-radius: 0 0 0 0.3571rem;
    background: $primary-color-75;
    cursor: pointer;
    -webkit-appearance: none;

    &_hidden {
      display: none;
    }

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1.4286rem;
      height: 0.2143rem;
      background-color: $white-color-100;
      content: '';
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &__group {
    padding: 0;
    border: 0;

    &:nth-child(1) {
      margin-bottom: 1.1714rem;
    }

    &:nth-child(2) {
      margin-bottom: 2.2714rem;
    }

    &:nth-child(3) {
      margin-bottom: 1.8571rem;
    }

    &:nth-child(4) {
      margin-bottom: 2.1429rem;

      #{$root}__group-title {
        margin-bottom: 1.2286rem;
      }

      #{$root}__list {
        width: 17.1429rem;

        #{$root}__item + #{$root}__item {
          margin-top: 0.4714rem;
        }
      }
    }

    &:nth-child(5) {
      margin-bottom: 1.5571rem;

      #{$root}__group-title {
        margin-bottom: 1.2143rem;
      }

      #{$root}__list {
        width: 18.2143rem;

        #{$root}__item {
          &:first-child {
            width: 16.7857rem;
          }

          + #{$root}__item {
            margin-top: 0.5286rem;
          }
        }
      }
    }

    &:nth-child(6) {
      position: relative;
      z-index: 1;
      margin-bottom: 2.1714rem;
    }
  }

  &__list {
    padding: 0;
    list-style-type: none;
  }

  &__group-title {
    padding: 0;
    color: $primary-color-100;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8571rem;
    line-height: 1.0714rem;
  }

  &__label {
    display: inline-block;
    color: $primary-color-100;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8571rem;
    line-height: 1.0714rem;
  }

  &__rooms {
    width: 59.6429rem;

    @media screen and (max-width: 1159px) {
      width: 100%;
    }

    #{$root}__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 -0.7143rem 1.5571rem 0;

      @media screen and (max-width: 591px) {
        margin-right: 0;
      }
    }

    #{$root}__item {
      margin: 0 0.7143rem 1.2857rem 0;
      width: 19.2857rem;

      @media screen and (max-width: 1159px) {
        width: 32%;
      }

      @media screen and (max-width: 900px) {
        width: 48%;
      }

      @media screen and (max-width: 591px) {
        margin-right: 0;
        width: 100%;
      }
    }
  }

  &__pagination {
    margin-left: 20.7857rem;

    @media screen and (max-width: 1159px) {
      margin: 0 auto;
      width: 17.2143rem;
    }
  }

  &__link {
    text-decoration: none;
  }
}
