.text-input {
  $root: &;

  &__field {
    box-sizing: border-box;
    display: inline-block;
    padding: 0.9286rem 1.0714rem;
    width: 100%;
    font: inherit;
    line-height: 1.2857rem;
    color: $primary-color-75;
    border: 0.0714rem solid $primary-color-25;
    border-radius: 0.2857rem;

    &::placeholder {
      color: $primary-color-25;
    }

    &:hover {
      border: 0.0714rem solid $primary-color-50;
    }
  }

  &_theme_newsletter {
    position: relative;

    #{$root}__field {
      padding-right: 2.8571rem;
    }

    #{$root}__submit-button {
      position: absolute;
      top: 50%;
      right: 0.9286rem;
      width: 1.2857rem;
      height: 1.2857rem;
      border: 0;
      background: transparent url('~@components/text-input/images/arrow-gradient.svg');
      transform: translateY(-50%);
      cursor: pointer;
    }
  }
}
