.text-input {
  $root: &;

  &__field {
    box-sizing: border-box;
    display: inline-block;
    padding: 0.9286rem 1.0714rem;
    width: 100%;
    font: inherit;
    line-height: 1.2857rem;
    color: $primary-color-75;
    border: 0.0714rem solid $primary-color-25;
    border-radius: 0.2857rem;

    &::placeholder {
      color: $primary-color-25;
    }

    &:hover {
      border: 0.0714rem solid $primary-color-50;
    }
  }

  &_theme_newsletter {
    position: relative;

    #{$root}__field {
      padding-right: 3.1429rem;
    }

    #{$root}__submit-button {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 3.1429rem;
      border: 0;
      background-color: transparent;
      cursor: pointer;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        right: 1.1857rem;
        width: 1.0429rem;
        height: 0.1429rem;
        background: linear-gradient($purple-color-100, $aqua-color-light-100);
        transform: translateY(-50%);
      }

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 1.2286rem;
        width: 0.6429rem;
        height: 0.6429rem;
        border-top: 2px solid transparent;
        border-right: 2px solid transparent;
        border-image: linear-gradient($purple-color-100, $aqua-color-light-100) 2;
        transform: translateY(-50%) rotate(45deg);
      }
    }
  }
}
