include ~@components/room-search/room-search

mixin main-page
  main.main-page
    h1.main-page__title Отель Toxin
    .main-page__form
      +room-search
    .main-page__info Лучшие номера для вашей работы, отдыха и просто вдохновения
