@import 'components/room-search/room-search';

.main-page {
  flex-grow: 1;
  background: url('~@components/main-page/images/background-1.jpg') no-repeat
    center/cover;

  &__container {
    @include container;

    position: relative;
    padding-top: 5rem;
    padding-bottom: 27.4714rem;

    @media screen and (max-width: 1057px) {
      padding-top: 2.1429rem;
      padding-bottom: 2.1429rem;
    }
  }

  &__title {
    @include visually-hidden;
  }

  &__info {
    position: absolute;
    bottom: 1.5rem;
    right: 0.7143rem;
    width: 21.4286rem;
    margin: 0;
    text-align: right;

    @media screen and (max-width: 1057px) {
      display: none;
    }
  }

  &__form {
    width: 27.1429rem;

    @media screen and (max-width: 768px) {
      margin: 0 auto;
    }

    @media screen and (max-width: 450px) {
      width: 100%;
    }
  }
}
