extends ~@root/shared/layouts/base

block title
  title Отель Toxin | Список страниц

block content
 - const { pages } = require("./data");

  main.index-page
    h1.index-page__title
    ul.index-page__list
      
      each page in pages
        - const { link, title } = page;

        li.index-page__item
          a.index-page__link(href = link target="_blank")= title
