.index-page {
  $root: &;

  padding-top: 7.1429rem;
  text-align: center;

  &__title {
    @include visually-hidden;
  }

  &__list {
    @include normalized-list;
  }

  &__item + &__item {
    margin-top: 1.4286rem;
  }

  &__link {
    font-size: 1.2857rem;
    color: $purple-color-100;
    text-decoration: none;
  }
}
