mixin index-page
  main.index-page
    h1.index-page__title
    ul.index-page__list

      - const { pages } = require("@components/index-page/data");
      
      each page in pages
        - const { link, title } = page;

        li.index-page__item
          a.index-page__link(href = link target="_blank")= title
