@import 'components/button/button';

.calendar {
  box-sizing: border-box;
  padding: 1.4286rem 1.4286rem 1.3286rem;
  width: 100%;
  border: 0.0714rem solid $primary-color-25;
  border-radius: 0.2857rem;
  background-color: $white-color-100;
  box-shadow: 0 0.7143rem 1.4286rem $primary-color-5;
  user-select: none;

  @media screen and (max-width: 420px) {
    padding: 1.0286rem;
  }

  &__buttons {
    display: flex;
    margin-top: 1.5rem;

    @media screen and (max-width: 420px) {
      margin-top: 1rem;
    }
  }

  &__button:nth-child(2) {
    margin-left: auto;
  }

  .datepicker {
    &--nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2.9429rem;
      padding: 0;
      border-bottom: 0;

      @media screen and (max-width: 420px) {
        margin-bottom: 1.9429rem;
      }
    }

    &--nav-title {
      color: $primary-color-100;
      font-weight: bold;
      font-size: 1.3571rem;
      cursor: pointer;
    }

    &--nav-action {
      width: 1.7143rem;
      height: 1.7143rem;
      cursor: pointer;

      &.-disabled- {
        visibility: hidden;
      }
    }

    &--days-names {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.9286rem;
    }

    &--day-name {
      width: 14.285714286%;
      color: $purple-color-100;
      text-align: center;
      font-weight: bold;
      font-size: 0.8571rem;
      line-height: 1.0714rem;
    }

    &--cells {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &--cell {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      padding: 7.1% 0;
      width: 14.285714286%;
      color: $primary-color-50;
      text-align: center;
      font-size: 0.8571rem;
      line-height: 0;
      cursor: pointer;

      &.-other-month- {
        color: $primary-color-25;
      }

      &.-disabled- {
        cursor: default;
      }

      &.-current- {
        border-radius: 50%;
        background: linear-gradient($green-color-100, $aqua-color-100);
        color: $white-color-100;
        font-weight: bold;
      }

      &.-range-from-:not(.-disabled-),
      &.-range-to-:not(.-disabled-) {
        position: relative;
        z-index: 1;
        border-radius: 50%;
        background: linear-gradient($purple-color-100, $aqua-color-light-100);
        color: $white-color-100;
        font-weight: bold;

        &::before {
          position: absolute;
          top: 0;
          bottom: 0;
          z-index: -1;
          background: linear-gradient($purple-color-25, $aqua-color-light-25);
          content: '';
        }
      }

      &.-range-from-:not(.-disabled-)::before {
        right: 0;
        left: 50%;
      }

      &.-range-to-:not(.-disabled-)::before {
        right: 50%;
        left: 0;
      }

      &.-in-range-:not(.-disabled-):not(.-current-) {
        background: linear-gradient($purple-color-25, $aqua-color-light-25);
      }
    }
  }
}
