include ~@components/button/button

mixin calendar
  .calendar.js-calendar
    .calendar__buttons.js-calendar__buttons
      .dropdown__button
        +button({ theme: "default", typeModifier: "clear", isHidden: true, text: "Очистить" })
      .dropdown__button
        +button({ theme: "default", typeModifier: "apply", text: "Применить" })
