include ~@components/button/button

mixin calendar
  .calendar.js-calendar
    .calendar__buttons.js-calendar__buttons
      +button({ theme: 'default', text: 'Очистить' })
      +button({ theme: 'default', text: 'Применить' })
