@import 'components/button/button';

.calendar {
  box-sizing: border-box;
  width: 100%;
  padding: 1.4286rem 1.4286rem 1.3286rem;
  border: 0.0714rem solid $primary-color-25;
  box-shadow: 0 0.7143rem 1.4286rem $primary-color-5;
  border-radius: 0.2857rem;
  background-color: $white-color-100;
  user-select: none;

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0 0;
  }

  .datepicker {
    &--nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2.9429rem;
      padding: 0;
      border-bottom: 0;

      @media screen and (max-width: 375px) {
        margin-bottom: 1.0714rem;
      }
    }

    &--nav-title {
      font-weight: bold;
      font-size: 1.3571rem;
      color: $primary-color-100;
      cursor: pointer;
    }

    &--nav-action {
      width: 1.7143rem;
      height: 1.7143rem;
      cursor: pointer;

      &.-disabled- {
        visibility: hidden;
      }
    }

    &--days-names {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.9286rem;
    }

    &--day-name {
      width: 14.2%;
      font-weight: bold;
      font-size: 0.8571rem;
      line-height: 1.0714rem;
      color: $purple-color-100;
      text-align: center;
    }

    &--cells {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &--cell {
      flex-grow: 1;
      width: 14%;
      font-size: 12px;
      line-height: 40px;
      color: $primary-color-50;
      text-align: center;
      cursor: pointer;

      &.-other-month- {
        color: $primary-color-25;
      }

      &.-disabled- {
        cursor: default;
      }

      &.-current- {
        font-weight: bold;
        color: $white-color-100;
        border-radius: 50%;
        background: linear-gradient($green-color-100, $aqua-color-100);
      }

      &.-range-from-:not(.-disabled-),
      &.-range-to-:not(.-disabled-) {
        position: relative;
        z-index: 1;
        font-weight: bold;
        color: $white-color-100;
        border-radius: 50%;
        background: linear-gradient($purple-color-100, $aqua-color-light-100);

        &::before {
          content: '';
          position: absolute;
          z-index: -1;
          top: 0;
          bottom: 0;
          background: linear-gradient($purple-color-25, $aqua-color-light-25);
        }
      }

      &.-range-from-:not(.-disabled-)::before {
        left: 50%;
        right: 0;
      }

      &.-range-to-:not(.-disabled-)::before {
        left: 0;
        right: 50%;
      }

      &.-in-range-:not(.-disabled-):not(.-current-) {
        background: linear-gradient($purple-color-25, $aqua-color-light-25);
      }
    }
  }
}
