@import './fonts';
@import './variables';
@import './mixins';

html {
  background: $root-background;
  color: $primary-color-75;
  font: $root-font;
}

body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  margin: 0 auto;
  padding: 0;
  min-width: 22.8571rem;
  min-height: 100vh;
  max-width: 137.1429rem;
  word-break: break-word;
}
