@font-face {
  font-family: 'Montserrat';
  src: url('~@root/fonts/montserrat-regular.woff2') format('woff2'),
    url('~@root/fonts/montserrat-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('~@root/fonts/montserrat-bold.woff2') format('woff2'),
    url('~@root/fonts/montserrat-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
