@mixin visually-hidden {
  position: absolute;
  opacity: 0;
}

@mixin normalized-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin h1-type {
  color: $primary-color-100;
  font-weight: bold;
  font-size: 1.7143rem;
  line-height: 2.1429rem;
}

@mixin h3-type {
  display: inline-block;
  padding: 0;
  color: $primary-color-100;
  font-weight: bold;
  font-size: 0.8571rem;
  line-height: 1.0714rem;
  text-transform: uppercase;
}
