@import 'shared/styles/base';
@import 'components/header/header';
@import 'components/range-slider/range-slider';
@import 'components/dropdown/dropdown';
@import 'components/checkbox-expandable/checkbox-expandable';
@import 'components/room/room';
@import 'components/pagination/pagination';
@import 'components/footer/footer';

.rooms-page {
  $root: &;

  display: grid;
  grid-template: 'filter rooms' / 22.931% 1fr;
  grid-gap: 0 5.172%;
  padding: 1.8429rem 9.7% 5rem;

  @media screen and (max-width: 1300px) {
    padding-right: 0.7143rem;
    padding-left: 0.7143rem;
  }

  @media screen and (max-width: 1000px) {
    grid-template:
      'filter'
      'rooms'
      / 1fr;
    grid-gap: 3.5714rem 0;
  }

  &__title {
    @include visually-hidden;
  }

  &__subtitle {
    margin: 0 0 1.4286rem;
    color: $primary-color-100;
    font-weight: bold;
    font-size: 1.7143rem;
    line-height: 2.1429rem;

    &_hidden {
      @include visually-hidden;
    }
  }

  &__filter {
    grid-area: filter;
  }

  &__filter-show-button {
    box-sizing: border-box;
    display: none;
    width: 100%;
    margin: 0;
    padding: 0.7143rem 1.4286rem;
    border: 0;
    color: $white-color-100;
    font-weight: bold;
    font-size: 1.1429rem;
    text-align: center;
    background: linear-gradient($purple-color-100, $aqua-color-light-100);
    cursor: pointer;
    -webkit-appearance: none;

    @media screen and (max-width: 1000px) {
      display: inline-block;
    }
  }

  &__filter-close-button {
    position: fixed;
    top: 0;
    z-index: 9;
    display: inline-block;
    width: 2.8571rem;
    height: 2.8571rem;
    border: 0;
    border-radius: 0 0 0 0.3571rem;
    background: $primary-color-75;
    cursor: pointer;
    -webkit-appearance: none;

    &_hidden {
      display: none;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1.4286rem;
      height: 0.2143rem;
      background-color: $white-color-100;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &__form {
    @media screen and (max-width: 1000px) {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 110%;
      z-index: 1;
      display: none;
      padding: 0.7143rem;
      overflow-y: scroll;
      background: $white-color-100;
      transition: all ease 1s;
    }

    &_showed {
      left: 0;
      display: block;
    }
  }

  &__dropdown-date {
    margin-bottom: 1.1714rem;
  }

  &__label {
    @include h3-type;

    margin-bottom: 0.3571rem;
  }

  &__dropdown-guests {
    margin-bottom: 2.0714rem;
  }

  &__range-slider {
    margin-bottom: 2.2571rem;
  }

  &__checkboxes {
    margin: 0 0 2.3429rem;
    padding: 0;
    border: 0;

    #{$root}__checkbox-input + #{$root}__checkbox-input {
      margin-top: 0.9714rem;
    }
  }

  &__checkboxes-title {
    @include h3-type;

    margin-bottom: 1.2286rem;
  }

  &__checkboxes-rich {
    margin: 0 0 1.5571rem;
    padding: 0;
    border: 0;

    #{$root}__checkbox-input + #{$root}__checkbox-input {
      margin-top: 0.3286rem;
    }
  }

  &__checkboxes-rich-title {
    @include h3-type;

    margin-bottom: 1.0143rem;
  }

  &__dropdown-comfort {
    position: relative;
    z-index: 1;
    margin-bottom: 2.1714rem;
  }

  &__checkbox-expandable {
    padding-right: 1.2143rem;

    @media screen and (max-width: 1300px) {
      padding-right: 0;
    }
  }

  &__rooms {
    grid-area: rooms;
    padding-top: 0.3571rem;

    @media screen and (max-width: 1000px) {
      padding-top: 0;
    }
  }

  &__rooms-list {
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(auto-fit, minmax(19.2857rem, 1fr));
    grid-gap: 1.4643rem 1.438%;
    margin: 0 0 2.7571rem;
    padding: 0;
  }

  &__pagination {
    margin-left: 20.7857rem;

    @media screen and (max-width: 1300px) {
      width: 17.2143rem;
      margin: 0 auto;
    }
  }
}
