include ~@components/text-input/text-input
include ~@components/radio-input/radio-input
include ~@components/checkbox-input/checkbox-input
include ~@components/button/button

mixin sign-up({ title = "Регистрация аккаунта" } = {})   
  form.sign-up(action="https://echo.htmlacademy.ru" method="post")
    h2.sign-up__title= title
    .sign-up__name
      label.sign-up__label.sign-up__label_hidden(for="field-name") Введите имя
      +text-input({ id: "field-name", name: "name", placeholder: "Имя" })
    .sign-up__surname
      label.sign-up__label.sign-up__label_hidden(for="field-surname") Введите фамилию
      +text-input({ id: "field-surname", name: "surname", placeholder: "Фамилия" })
    ul.sign-up__gender-list
      -
        const genderList =
        [
          { id: "field-gender-male", title: "Мужчина", name: "gender", value: "male", checked: true },
          { id: "field-gender-female", title: "Женщина", name: "gender", value: "female" }
        ];
      each genderItem in genderList
        li.sign-up__gender-item
          +radio-input(genderItem)
    .sign-up__birthday
      label.sign-up__label(for="field-birthday") Дата рождения
      +text-input({ id: "field-birthday", name: "birthday", placeholder: "ДД.ММ.ГГГГ" })
    fieldset.sign-up__credentials
      legend.sign-up__legend данные для входа в сервис
      .sign-up__email
        label.sign-up__label.sign-up__label_hidden(for="field-email") Введите email
        +text-input({ id: "field-email", type: "email", name: "email", placeholder: "Email" })
      .sign-up__password
        label.sign-up__label.sign-up__label_hidden(for="field-password") Введите пароль
        +text-input({ id: "field-password", type: "password", name: "password", placeholder: "Пароль" })
    .sign-up__newsletter
      +checkbox-input({ theme: "toggle", id: "field-newsletter", title: "Получать спецпредложения", name: "newsletter" })
    .sign-up__submit-button
      +button({ text: "перейти к оплате", theme: "with-arrow", isFullWidth: true, type: "submit" })
    .sign-up__login
      .sign-up__text Уже есть аккаунт на Toxin
      .sign-up__login-button
        +button({ text: "войти", theme: "border-gradient", isFullWidth: true, isLink: true, })
