@import 'components/text-input/text-input';
@import 'components/radio-input/radio-input';
@import 'components/checkbox-input/checkbox-input';
@import 'components/button/button';

.sign-up {
  $root: &;

  padding: 2.8571rem 2.1429rem 2.1429rem;
  border: 0.0714rem solid $black-color-12;
  border-radius: 0.2857rem;
  background: $white-color-100;
  box-shadow: 0 0 1.7857rem $black-color-20;

  &__title {
    @include h1-type;

    margin: 0 0 1.4286rem;
  }

  &__label {
    @include h3-type;

    &_hidden {
      @include visually-hidden;
    }
  }

  &__name {
    margin-bottom: 0.5143rem;
  }

  &__surname {
    margin-bottom: 0.3714rem;
  }

  &__gender-list {
    display: flex;
    margin: 0 0 1.3143rem;
    padding: 0;
    list-style-type: none;
  }

  &__gender-item + &__gender-item {
    margin-left: 1.8rem;
  }

  &__birthday {
    margin-bottom: 1.5714rem;
  }

  &__credentials {
    margin: 0 0 0.4714rem;
    padding: 0;
    border: 0;
  }

  &__legend {
    @include h3-type;

    margin-bottom: 0.3571rem;
  }

  &__email {
    margin-bottom: 0.5714rem;
  }

  &__newsletter {
    margin-bottom: 1.5714rem;
  }

  &__submit-button {
    margin-bottom: 2.1714rem;
  }

  &__login {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    margin-right: 0.7143rem;
    max-width: 15.1429rem;
    color: $black-color-100;
    line-height: 1.2857rem;
  }

  &__login-button {
    min-width: 7.0714rem;
  }
}
