include ~@components/logo/logo
include ~@components/button/button

mixin header({ user = null } = {})
  header.header.js-header
    .header__logo
      +logo
    button.header__burger-button.js-header__burger-button(type="button" aria-label="Показать меню")
    nav.header__navigation.js-header__navigation
      ul.header__site-navigation

        - const { pages } = require('@components/header/data');

        each page in pages
          - const { title, link, theme } = page;
          - const itemTheme = theme ? `header__item_theme_${theme}` : "";

          li.header__item(class = itemTheme)
            a.header__link(href = link)= title

      if user !== null
        - const { name } = user;

        div.header__user-menu
          a.header__link(href="/mock-address")= name
      else
        ul.header__user-navigation
          li.header__item
            +button({text: "войти", theme: "border-gradient", size: "small", isLink: true, link: "/login.html"})
          li.header__item
            +button({text: "зарегистрироваться", theme: "gradient", size: "small", isLink: true, link: "/registration.html"})
          