include ~@components/button/button

mixin header({ theme } = {})
  - const headerTheme = theme ? `header_theme_${theme}` : "";

  header.header.js-header(class= headerTheme)
    .header__container
      a.header__logo(href="/index.html")
        img.header__logo-image(src=require("@root/images/logo.svg") alt="Отель Toxin")
        // +button({ text: 'Показать меню'})
      button.header__burger-button.js-header__burger-button(aria-label="Показать меню")
      nav.header__navigation.js-header__navigation
        ul.header__site-navigation

          - const { pages } = require('@components/header/data.json');

          each page in pages
            - const { title, link, modifier } = page;
            - const itemModifier = modifier ? `header__item_${modifier}` : "";

            li.header__item(class = itemModifier)
              a.header__link(href = link)= title

        ul.header__user-navigation
          li.header__item
            +button({"text": "войти", "theme": "border-gradient", "size": "small", "isLink": true, "href": "../login-page/login-page.pug"})
          li.header__item
            +button({"text": "зарегистрироваться", "theme": "registration", "size": "small", "isLink": true, "href": "../registration-page/registration-page.pug"})
        ul.header__user-menu
          li.header__item
            a.header__link(href="/mock-address") Артём Лагунов
