include ~@components/dropdown/dropdown
include ~@components/calendar/calendar

mixin date-picker
  .date-picker.js-date-picker
    .date-picker__dropdowns
      .date-picker__dropdown
        label.date-picker__label(for="field-date-from") Прибытие
        +dropdown({ type: "date", id: "field-date-from", name: "date-from", placeholder: "ДД.ММ.ГГГГ" })
      .date-picker__dropdown
        label.date-picker__label(for="field-date-to") Выезд
        +dropdown({ type: "date", id: "field-date-to", name: "date-to", placeholder: "ДД.ММ.ГГГГ" })
    .date-picker__calendar
      +calendar
