@import 'components/dropdown/dropdown';
@import 'components/calendar/calendar';

.date-picker {
  position: relative;

  &__dropdowns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3143rem;
  }

  &__dropdown {
    width: 47%;
  }

  &__label {
    @include h3-type;

    margin-bottom: 0.3571rem;
  }

  &__calendar {
    position: absolute;
    width: 100%;

    &_hidden {
      display: none;
    }
  }
}
