include ~@components/rating/rating

mixin room({ imageName, alt, number, lux, price, rating, testimonials } = {})
  .room
    .room__container
      img.room__img(src = require(`@root/images/${imageName}.jpg`) alt = alt)
      .room__slider-buttons
        button.room__slider-button.room__slider-button_active(type="button")
        button.room__slider-button(type="button")
        button.room__slider-button(type="button")
        button.room__slider-button(type="button")
      .room__slider-arrows
        button.room__slider-arrow.room__slider-arrow_theme_prev(type="button")
        button.room__slider-arrow.room__slider-arrow_theme_next(type="button")
    .room__info
      .room__book-info
        .room__number-info
          | №
          span.room__number= ` ${number} `
          if lux === true
            span.room__type Люкс
        .room__day-price
          span.room__price= `${price} `
          | в сутки
      .room__user-experience
        +rating({currentRating: rating})
        .room__testimonials
          span.room__testimonials-amount= `${testimonials} `
          | Отзывов
