mixin checkbox-input({ theme, id, name, title, description, checked = false } = {})
  - const themeClass = theme ? `checkbox-input_theme_${theme}` : "";

  .checkbox-input(class = themeClass)
    input.checkbox-input__field(id = id type="checkbox" name = name checked = checked)&attributes(attributes)
    label.checkbox-input__label(for = id)= title
    if description
      .checkbox-input__description= description
